@font-face {
	font-family: YetHangul; font-weight: 400;
	src: url ('/font/se-nanumsquare-regular.woff') format('woff'),
		 url ('/font/se-nanumsquare-regular.woff2') format('woff2'),
		 url ('/font/NANUMBARUNGOTHIC-YETHANGUL.TTF') format('ttf');
}
@font-face {
	font-family: YetHangul; font-weight: 700;
	src: url ('/font/se-nanumsquare-bold.woff') format('woff'),
		 url ('/font/se-nanumsquare-bold.woff2') format('woff2'),
		 url ('/font/NANUMBARUNGOTHIC-YETHANGUL.TTF') format('ttf');
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'YetHangul'; 
  font-size: 11pt;
  line-height: 180%;
  margin: 0px 0px;
}
h1 {
	background-color: rgb(6,0,96);
	color: rgb(255,255,255);
	width: 100%;
	margin: 0px;
	padding: 1rem;
	
}
table {
	width: 100%;
    border-bottom: 3px solid rgb(232,228,235);
    border-collapse: collapse;
}
th {
	background-color: rgb(232,228,235);
	font-weight: bold;	
}
th, td {
    border-top: 1px solid #ccc;
    border-left: 1px dotted #ccc;
}
th:first-child, td:first-child {
    border-left: none;
}
